footer
    background #645252
    height 40px
    position relative
    z-index 2
    p
        margin 0
        opensans 10
        line-height 40px
        color #fff
        text-align center
        a:hover
            color rgba(#000, .7)
    +mobile()
        height auto
        padding 10px 0
        p
            line-height 1.2
        span
            font-size 0
            display block
