header
    width 350px
    float left
    position relative
    z-index 2
    .logo
        display block
        width 200px
        height 200px
        margin 40px 0 0 100px
        background $img('itamarberezin.jpg') no-repeat center
        text-indent -9999px
    nav
        margin 40px 0 0 100px
        width 90px
        padding-bottom 75px
        +above($tablet)
            display block !important
        a
            display block
            opensans 16
            color #fff
            position relative
            &:before
                content ''
                width 12px
                height 1px
                position absolute
                left -22px
                bottom 3px
                background #fff
                opacity 0
                transition opacity .3s
            &:hover
            &.active
                &:before
                    opacity 1
            + a
                margin-top 10px
        > a
            text-transform uppercase
        .sub
            margin 4px 0 15px
            a
                font-size 14px
                &.active
                    font-weight bold
                + a
                    margin-top 4px
        .social
            margin 30px 0 0
            font-size 0
            a
                &:before
                    display none
                display inline-block
                width 16px
                height 16px
                text-indent -9999px
                + a
                    margin-left 4px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
    +below($tablet)
        width 100%
        height 100px
        background #877C7B
        float none
        padding 0
        .logo
            width 100px
            height 100px
            background-size 100% auto
            margin 0
            margin-left 5%
            float left
        nav
            position relative
            display none
            background #655353
            width 100%
            margin 0
            padding 25px 5%
            text-align right
            z-index 9999
            a
                padding-right 20px
                &:before
                    left auto
                    right 0
                    width 10px
            .social
                margin-top 20px
                padding-right 20px
                a
                    font-size 0
                    padding 0

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left auto
    margin-right 5%
    .lines
        display block
        width 100%
        height 4px
        background #fff
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background #fff
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
