html
body
    height 100%

body
    background #EFEAE9

.wrapper
    width 100%
    min-height calc('100% - 40px')
    position relative
    .center
        clearfix()
        height 100%
        .content
            width calc('100% - 350px')
            float right
            padding 40px 0 75px
        .barra
            position fixed
            width 200px
            height 100%
            background rgba(#050000, .47)
            top 0
            z-index 1
    +below($tablet)
        min-height auto
        .center
            width 100%
            .content
                width 100%
                float none
                padding 40px 5% 75px
            .barra
                display none
    +mobile()
        .center .content
            padding 25px 5% 30px
