desktop-base-width     = 1260px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #E02227

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')

opensans($size, $weight = normal)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
