.clientes
.premios
    p
        opensans 22
        text-transform uppercase
        margin 0 0 1em
        line-height 1
        color #666
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
    .imagens
        clearfix()
        .imagem
            width calc('25% - 7.5px')
            float left
            padding 20px
            background #fff
            margin-right 10px
            margin-bottom 10px
            &:nth-child(4n)
                margin-right 0
            img
                width 100%
                display block
            +mobile()
                width calc('50% - 5px')
                &:nth-child(4n)
                    margin-right 10px
                &:nth-child(2n)
                    margin-right 0
