.clipping
    h2
        opensans 22
        text-transform uppercase
        margin 0 0 1.5em
        line-height 1
        color #666
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
    .clipping-thumbs
        clearfix()
        > a
            position relative
            display block
            width calc('33.333% - 6.667px')
            float left
            margin-right 10px
            margin-bottom 10px
            background #fff
            transition background .3s
            .icone-video
                position absolute
                width 100%
                height 40px
                background #fff
                transition background .3s
                left 0
                bottom 17px
                +mobile()
                    bottom 10px
                    height 30px
                &:after
                    content ''
                    width 24px
                    height 17px
                    border-radius 4px
                    background #857A79
                    position absolute
                    bottom 0
                    left 50%
                    transform translateX(-50%)
                &:before
                    content ''
                    width 0
                    height 0
                    border-style solid
                    border-width 3px 0 3px 7px
                    border-color transparent transparent transparent #fff
                    position absolute
                    z-index 1
                    bottom 6px
                    left 50%
                    margin-left -3px
            &.clipping-link
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 40px
                    background $img('link.png') no-repeat center bottom #fff
                    transition background .3s
                    left 0
                    bottom 15px
                    +mobile()
                        bottom 10px
                        height 30px
                        background-size 20px auto
            &:hover
                background $vermelho
                .titulo div span
                    color #fff
                &:after
                .icone-video
                    background-color $vermelho
            &:nth-child(3n)
                margin-right 0
            +mobile()
                width calc('50% - 5px')
                &:nth-child(3n)
                    margin-right 10px
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                display block
                padding 15px
                +mobile()
                    padding 10px
            .titulo
                width 100%
                height 0
                padding-bottom 100%
                position relative
                z-index 2
                > div
                    position absolute
                    width 100%
                    height 100%
                    display flex
                    align-items center
                    justify-content center
                    padding 15px
                    opensans 15
                    color #666
                    text-transform uppercase
                    text-align center
                    +mobile()
                        font-size 14px
                        padding 10px
                    span
                        transition color .3s
