.contato
    h2
        opensans 22
        color #666
        margin 0 0 1.5em
        text-transform uppercase
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
    .informacoes
        width 260px
        float left
        +tablet()
            width 220px
        +mobile()
            width 100%
            margin-bottom 25px
        p
            color #666
            opensans 16
            margin 0
            &.telefone
                font-size 20px
                margin-bottom .6em
            +tablet()
                font-size 15px
                &.telefone
                    font-size 18px
            +mobile()
                font-size 15px
                &.telefone
                    font-size 17px
    form
        width 450px
        float left
        margin-left 40px
        +tablet()
            width calc('100% - 250px')
            margin-left 30px
        +mobile()
            width 100%
            margin 0
        clearfix()
        .flash
            margin-bottom 10px
            opensans 13
            padding 10px
            border 2px solid $vermelho
            border-radius 4px
            &.flash-erro
                background $vermelho
                color #fff
            &.flash-sucesso
                color $vermelho
        input[type=text]
        input[type=email]
            width 100%
            background #fff
            outline 0
            border 0
            opensans 14
            padding 0 10px
            height 32px
            margin-bottom 4px
        textarea
            width calc('100% - 100px')
            background #fff
            outline 0
            border 0
            padding 10px
            height 90px
            opensans 14
            resize none
            float left
            +mobile()
                width 100%
        input[type=submit]
            display block
            float left
            width 100px
            height 90px
            background $vermelho
            opensans 14
            color #fff
            border 0
            outline 0
            cursor pointer
            transition background .3s
            &:hover
                background #666
            +mobile()
                width 100%
                height 45px
                margin-top 4px

.mapa
    position relative
    width 100%
    height 600px
    margin -140px 0 60px
    +tablet()
        height 400px
        margin 40px 0 50px
    +mobile()
        height 300px
        margin 30px 0
    iframe
        display block
        position absolute
        width 100%
        height 100%
        top 0
        left 0
