.banners
    position absolute
    width 100%
    height 100%
    z-index -1
    .banner
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
