.perfil
    > img
        width 100%
        display block
        max-width 610px
    p
        opensans 16
        line-height 1.5
        color #666
        max-width 610px
        +mobile()
            font-size 15px
        &:last-child
            margin-bottom 0

.perfil-imagens
    width 100%
    margin 0 0 90px
    clearfix()
    +tablet()
        margin-bottom 60px
    +mobile()
        margin-bottom 30px
    img
        width 25%
        display block
        float left
        +mobile()
            width 50%
