.projetos-index
    clearfix()
    a
        display block
        width calc('33.333% - 13.333px')
        margin-right 20px
        margin-bottom 20px
        position relative
        float left
        &:nth-child(3n)
            margin-right 0
        +mobile()
            width calc('50% - 5px')
            margin-right 10px
            margin-bottom 10px
            &:nth-child(3n)
                margin-right 10px
            &:nth-child(2n)
                margin-right 0
        img
            width 100%
            display block
        .overlay
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background rgba($vermelho, .7)
            display flex
            align-items center
            padding 30px
            opensans 16
            color #fff
            opacity 0
            transition opacity .3s
            +below($tablet)
                display none
        &:hover .overlay
            opacity 1

.projetos-cabecalho
    width 100%
    height 400px
    background-size cover
    background-position center
    position absolute
    top 0
    left 0
    +below($tablet)
        top 100px
    +tablet()
        height 320px
    +mobile()
        height 200px

.projetos-show
    margin-top 400px
    margin-left -100px
    +above($tablet)
        width calc('100% - 250px') !important
    +below($tablet)
        margin 0
    +tablet()
        margin-top 320px
    +mobile()
        margin-top 200px
    .desktop
        +below($tablet)
            display none
        clearfix()
        .left
            width calc('50% - 15px')
            float left
        .right
            width calc('50% - 15px')
            float right
    h2
        opensans 22
        text-transform uppercase
        margin 0 0 2em
        line-height 1
        color #666
        +tablet()
            font-size 20px
            text-align center
        +mobile()
            font-size 18px
    .imagens
        img
            width 100%
            display block
            +below($tablet)
                width auto
                max-width 100%
                margin-left auto
                margin-right auto
            + img
                margin-top 30px
                +tablet()
                    margin-top 15px
                +mobile()
                    margin-top 10px
    .mobile
        +above($tablet)
            display none
    .detalhes
        width 100%
        +below($tablet)
            max-width 600px
            margin 0 auto
        .row
            clearfix()
            display block
            width 100%
            border-top 1px solid #ccc
            padding 5px 0
            display flex
            align-items center
            &:last-child
                border-bottom 1px solid #ccc
                margin-bottom 44px
                +mobile()
                    margin-bottom 25px
            span
                &:first-child
                    width 160px
                    text-align right
                    padding-right 10px
                    opensans 12
                    color #666
                    text-transform uppercase
                    +mobile()
                        font-size 11px
                        width 120px
                &:last-child
                    width calc('100% - 160px')
                    opensans 16
                    color #666
                    +mobile()
                        width calc('100% - 120px')
                        font-size 15px
